<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthdate %>
</p>
<br>

<table class= "table">
  <thead><h4>History</h4> 
      <th><i>Weight</i></th>
      <th><i>Height</i></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pet.pet_histories.each do |h| %>
      <tr>
        <td><%= h.weight %></td>
        <td><%= h.height %></td>
      </tr>
    <% end %>
  </tbody>
<table>
<br>
<br>

<table class="table">
  <thead><h4>Stats</h4>
    <tr>
      <th>Average Weight</th>
      <th>Average Height</th>
      <th>Maximum Weight</th>
      <th>Maximum Height</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @pet.avg_weight %></td>
      <td><%= @pet.avg_height %></td>
      <td><%= @pet.max_weight %></td>
      <td><%= @pet.max_height%></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
